body{
    background-color: rgb(163, 125, 161);
    background-image: url("https://static.vecteezy.com/system/resources/previews/000/680/522/non_2x/glowing-tech-circuit-line-concept.jpg");
}
.h1 {
    color:brown;
    font-size: xx-large;
}
.container {
    text-align: center;
}

.lolo   {
    padding: 32px;
}

.boton {
    cursor: pointer;
    border: 2px solid #0090cc;
    border-radius: 6px;
    background: rgb(152, 228, 66);
    text-decoration: solid;
}